
<div class="row ">
  <div class="col-12 ">
    <mat-tab-group class="m-3 m-5 border rounded p-4">
      <mat-tab label="Output">
        <mat-form-field appearance="outline" class="m-3 w-100">
          <input type="text" matInput [(ngModel)]="test">
        </mat-form-field>
        <h1 class="m-3">Result is:{{test}}</h1>
      </mat-tab>

      <mat-tab label="HTML" >

      </mat-tab>

      <mat-tab label="TS">
        <pre class="bg-dark"><code class="language-css ">
          {{test1}}
        </code></pre>
      </mat-tab>
    </mat-tab-group>

    <pre class="bg-dark"><code class=" ">
      {{test1}}
    </code></pre>



  </div>



</div>

