*{

}
.page-not-found {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  width: 100%;



}

h1 {
  margin-top: 3rem;
  font-size: 4vw;


}

.page-not-found  img {
  // object-fit: cover;
  width: 80%;


}
