<div class="container-xl mt-3">
  <div class="content">
    <mat-list>
      <mat-list-item class="p-2 px-3 fw-bold">First, let's find your account</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <div class="p-3">
      <p> Please select your account type Email or Phone</p>
      <mat-radio-group  [(ngModel)]="selectedOption">
        <mat-radio-button (click)="onEmail()" color="primary" value="email" checked>Email</mat-radio-button>
        <mat-radio-button (click)="onPhone()" color="primary" value="phone" >Phone</mat-radio-button>
      </mat-radio-group>
<!-- email radio  -->
      <!-- Email -->
    <div class="email w-100 " [ngClass]="{'d-none':selectedOption !== 'email'}">
      <div class="example-container mt-3 w-100" >
        <mat-form-field style="background-color: transparent; " class="mat-form-example w-100" appearance="outline">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <!-- Email -->
    </div>

<!--end email radio  -->


<!-- phone radio  -->

        <!-- country -->
      <div class="phone  d-flex flex-md-row mt-3 flex-column gap-3 w-100" [ngClass]="{'d-none': selectedOption !== 'phone'}">
        <mat-form-field class="mat-form-example1  " appearance="outline">
          <mat-label>Country</mat-label>
          <mat-select (selectionChange)="onCountryChange($event)">
            <mat-option *ngFor="let country of countries" [value]="country.value">
              {{country.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <form class="mat-form-example w-100">
          <mat-form-field class="mat-form-example2 "  appearance="outline">
              <mat-label class="px-5">&nbsp; Phone</mat-label>
            <span matPrefix class="px-1">&nbsp; {{phonePrefix}}</span>
            <input class=" " type="tel" matInput placeholder="555-555-1234" [(ngModel)]="phoneNumber">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
        </form>
        <!-- phone -->

      </div>
      <div class="row px-3 gap-3 my-4">
        <button routerLink="/jobseeker" mat-fab extended class="" style="white-space:nowrap; height: 35px; border: 1px solid var(--primary-color);background-color: transparent; color: var(--secondary-color);">Cancel</button>
        <button mat-fab extended (click)="openDialog()" class="px-3" style="white-space:nowrap; height: 35px;  background-color: var(--primary-color)">Find account</button>
      </div>
      </div>
        </div>
      </div>
