<div class="container-xl">
  <div class="content">
    <div class="hj-contact-banner">

    </div>

    <div class="hj-content">
      <div class="bg-content">
        <div class="py-3 row row-cols-auto justify-content-center">
          <div class="col  hj-card-item ">
              <h1>5.5K</h1>
              <p class="hj-label">
                Employers use HRINC Jobs online advertising solution
              </p>
          </div>
          <div class="col hj-card-item">
            <h1>102.2K</h1>
              <p class="hj-label">
                Vacancies announced on
                <a href="" style="font-size: 14px; color:var(--secondary-color); text-decoration: none;">www.hrincjobs.com</a>
              </p>
          </div>
          <div class="col  hj-card-item">
            <h1>102.2K</h1>
            <p class="hj-label">
              Website visited from anywhere at anytime
            </p>
          </div>
          <div class="col hj-card-item">
            <h1>38.3M</h1>
            <p class="hj-label">
              Jobs seen by job seekers
            </p>
          </div>
          <div class="col hj-card-item">
            <h1>1M</h1>
            <p class="hj-label">
              Jobs viewed by job seekers
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
