
<div class="container-xl">
  <div class="content">
    <div class="hj-contact-banner">

    </div>

    <div class="hj-content">
      <div class="bg-content">
        <div class="py-3 row row-cols-auto justify-content-center">
          <div class="col  hj-card-item ">
              <h1>5.5K</h1>
              <p class="hj-label">
                Employers use HRINC Jobs online advertising solution
              </p>
          </div>
          <div class="col hj-card-item">
            <h1>102.2K</h1>
              <p class="hj-label">
                Vacancies announced on
                <a href="" style="font-size: 14px; color:var(--secondary-color); text-decoration: none;">www.hrincjobs.com</a>
              </p>
          </div>
          <div class="col  hj-card-item">
            <h1>102.2K</h1>
            <p class="hj-label">
              Website visited from anywhere at anytime
            </p>
          </div>
          <div class="col hj-card-item">
            <h1>38.3M</h1>
            <p class="hj-label">
              Jobs seen by job seekers
            </p>
          </div>
          <div class="col hj-card-item">
            <h1>1M</h1>
            <p class="hj-label">
              Jobs viewed by job seekers
            </p>
          </div>
        </div>
      </div>
    </div>

      <div class="row  hj-contact-us-wrapper">
        <div class=" col-lg-6 col-12  cambodia">
          <div>
            <h2 class="hj-title">Cambodia</h2>
          </div>
          <div class="hj-office-list">
            <ul>
              <li class="list-unstyled list">
                <mat-icon>location_city</mat-icon>
                <span class="hj-desc">House #10, Okhna Pich Avenue (Street 242), Sangkat Chaktomuk, Khan Daun Penh, Phnom Penh, Cambodia</span>
              </li>
              <li class="list-unstyled list">
                <mat-icon>call</mat-icon>
                <span class="hj-desc">+855 (23) 211 437 / (11) 992 190</span>
              </li>
              <li class="list-unstyled list">
                <mat-icon>mail</mat-icon>
                <div>
                  <span>Email</span>
                  <ul class="p-0">
                      <li class="list-unstyled ">
                        <a href="" class=" d-inline-block " > jobseeker.cam@hrincjobs.com</a>
                        <span  style="white-space: pre;">&nbsp; &nbsp; if you are a job seeker</span>
                      </li>
                      <li class="list-unstyled " >
                        <a href="" class="d-inline-block">employer.cam@hrincjobs.com</a>
                        <span style="white-space: pre;">&nbsp; &nbsp; if your are a company</span>
                      </li>
                  </ul>
                </div>
              </li>
              <li class="list-unstyled list">
                <mat-icon>map</mat-icon>
                <div class="map">
                  <iframe class="mt-2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d845.825653073477!2d104.92716462069222!3d11.558482731008887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3109513a6b422211%3A0xc8d9fad7367580d4!2sHRINC%20(Cambodia)%20Co.%2C%20Ltd!5e0!3m2!1sen!2skh!4v1677818302591!5m2!1sen!2skh" width="500" height="270" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class=" col-lg-6 col-12  cambodia">
          <div>
            <h2 class="hj-title">Myanmar</h2>
          </div>
          <div class="hj-office-list">
            <ul>
              <li class="list-unstyled list">
                <mat-icon>location_city</mat-icon>
                <span class="hj-desc">No. 127 (1-A), Bargayar Road, Sanchaung Township, Yangon 11111</span>
              </li>
              <li class="list-unstyled list">
                <mat-icon>call</mat-icon>
                <span class="hj-desc">+855 (23) 211 437 / (11) 992 190</span>
              </li>
              <li class="list-unstyled list">
                <mat-icon>mail</mat-icon>
                <div>
                  <span>Email</span>
                  <ul class="p-0">
                      <li class="list-unstyled ">
                        <a href="" class=" d-inline-block " > jobseeker.mm@hrincjobs.com </a>
                        <span  style="white-space: pre;">&nbsp; &nbsp; if you are a job seeker</span>
                      </li>
                      <li class="list-unstyled " >
                        <a href="" class="d-inline-block">employer.mm@hrincjobs.com  </a>
                        <span style="white-space: pre;">&nbsp; &nbsp; if your are a company</span>
                      </li>
                  </ul>
                </div>
              </li>
              <li class="list-unstyled list">
                <mat-icon>map</mat-icon>
                <div class="map">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3819.451477783711!2d96.12811995093305!3d16.80394412373398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c1ec8baf42f6ff%3A0xe0527dbc73667afd!2sHRINC%20(Myanmar)%20Co.%2C%20Ltd!5e0!3m2!1sen!2skh!4v1677833686965!5m2!1sen!2skh" width="500" height="270" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </li>
            </ul>
          </div>
        </div>



      </div>


  </div>
</div>
<app-footer></app-footer>
