<div class="package card text-center ">
  <!-- package-header  -->
  <div class="package-header">
    <ng-content select=".card-title1"></ng-content>
    <ng-content select=".card-subtitle"></ng-content>

  </div>
 <ng-content select=".price"></ng-content>
  <!--end package-header  -->

  <!-- package-body  -->
  <div class="package-body">
    <ul>
      <li><i class="bi bi-check-circle-fill  "></i>    20 standard job coupons</li>
      <li><i class="bi bi-check-circle-fill  "></i>  1Logo branding</li>
      <li><i class="bi bi-check-circle-fill  "></i>  Valid for 360days</li>
      <li><i class="bi bi-check-circle-fill  "></i>  On the homepage</li>
      <li><i class="bi bi-check-circle-fill  "></i>  Below the premium jobs</li>
      <li><i class="bi bi-check-circle-fill  "></i>  Can refresh one per day</li>
      <li><i class="bi bi-check-circle-fill  "></i>  Free artwork design</li>
      <li><i class="bi bi-check-circle-fill  "></i>  Social media sharing (50k+)</li>
      <!-- premium  -->
      <li><i class="bi bi-check-circle-fill  "></i>  12 Premium job coupons</li>
      <li><i class="bi bi-check-circle-fill  "></i>  On the homepage</li>
      <li><i class="bi bi-check-circle-fill auto-re "></i>  Automatically refreshed</li>
      <li><i class="bi bi-check-circle-fill  Visibly"></i>  Visibly highlighted</li>
      <li><i class="bi bi-check-circle-fill  "></i>  Social media sharing (50k+)</li>
      <li><i class="bi bi-check-circle-fill  "></i>  30 standard job coupons</li>
    </ul>

    <button class="btn-hover color-2">Purchase Now</button>

  </div>
  <!--end package-body  -->

  <!-- package-footer  -->
  <div class="package-footer"></div>
<!--end package-footer  -->
</div>
