<nav *ngIf="ismenurequired" #navbar class="navbar navbar-expand-md bg-white border-bottom ">
<div class="container-xl">
    <!-- left-navigation bar-->
        <a class="navbar-brand  mt-auto " href="#"><img src="https://www.hrincjobs.com/assets/images/logo.png" width="120px" alt=""></a>
      <button (click)="onToggle()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <mat-icon>{{toggle ? 'menu' : 'close'}}</mat-icon>
    </button>

  <div class="collapse navbar-collapse  " id="navbarSupportedContent">
    <div class="d-flex flex-wrap-reverse w-100">

      <ul class="navbar-nav mt-auto bg-white w-0">

          <li class="nav-item ">
            <a class="" routerLink="home" routerLinkActive [routerLinkActiveOptions]="{exact:true}"><button mat-flat-button >Home</button></a>
          </li>
          <mat-divider></mat-divider>
          <li class="nav-item">
            <a *ngIf="!isLoggedIn()" class=" text-nowrap" routerLink="about-us" ><button mat-flat-button routerLinkActive="active-link" color="">About Us</button></a>
          </li>
          <mat-divider></mat-divider>
          <li class="nav-item" [matMenuTriggerFor]="job">
            <a *ngIf="isLoggedIn()" class=" text-nowrap" routerLink="about-us" ><button mat-flat-button routerLinkActive="active-link" color="">Jobs <mat-icon>arrow_drop_down</mat-icon></button></a>
            <mat-menu #job="matMenu">
              <button mat-menu-item>Manage Job</button>
              <button mat-menu-item>Application</button>
            </mat-menu>
          </li>
          <mat-divider></mat-divider>

          <li class="nav-item">
            <a *ngIf="!isLoggedIn()" class=" text-nowrap"  routerLink="contact-us" ><button mat-flat-button routerLinkActive="active-link">Contact Us</button></a>
          </li>
          <mat-divider></mat-divider>
          <li class="nav-item" [matMenuTriggerFor]="admin">
            <a *ngIf="isLoggedIn()" class=" text-nowrap"  routerLink="contact-us" ><button mat-flat-button routerLinkActive="active-link">Admin <mat-icon>arrow_drop_down</mat-icon></button></a>
            <mat-menu #admin="matMenu">
              <button mat-menu-item>Dashboard</button>
              <button mat-menu-item>Company Profile</button>
              <button mat-menu-item>User</button>
            </mat-menu>
          </li>
          <mat-divider></mat-divider>
          <li [matMenuTriggerFor]="account" class="nav-item">
            <a *ngIf="isLoggedIn()" class=" text-nowrap"  routerLink="contact-us" > <button   mat-button-class="align-right" mat-button routerLinkActive="active-link">Account <mat-icon>arrow_drop_down</mat-icon></button></a>
            <mat-menu #account="matMenu">
              <button mat-menu-item>Buy Credit</button>
              <button mat-menu-item>Buy Order</button>
              <button mat-menu-item>Buy Transaction</button>
            </mat-menu>
          </li>
          <mat-divider></mat-divider>

          <li class="nav-item ms-3" [matMenuTriggerFor]="menu" style="display:flex; align-items:center; gap: 5px; cursor: pointer;">
              <img alt="" width="20px" src="{{ImgShow}}">
              <div style="display: flex;"  > {{country}} <mat-icon>arrow_drop_down</mat-icon></div>
          </li>

          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="cam()"><img [src]="ImgCam" width="20px" alt=""> Cambodia</button>
            <button mat-menu-item (click)="la()"><img  [src]="ImgLa" width="20px" alt=""> Lao</button>
            <button mat-menu-item (click)="mm()"><img  [src]="ImgMm" width="20px" alt=""> Myanmar</button>
            <button mat-menu-item (click)="asean()"><img  [src]="ImgAsean" width="20px" alt=""> Asean</button>
          </mat-menu>
      </ul>

    <!-- left-navigation bar -->
      <!-- right navigation bar  -->
          <ul class="navbar-nav  ms-auto bg-white">
            <div class="d-flex align-items-center">
              <li class="nav-item">
                <a *ngIf="!isLoggedIn()" routerLink="login-test" class="nav-link text-nowrap"><button class="text-nowrap" mat-flat-button class="py-4"><mat-icon>person</mat-icon>Sign in</button>

                </a>
              </li>


              <li class="nav-item" *ngIf="!isLoggedIn()">
                <a class="nav-link  " [routerLink]="employer ?   'employer' : 'jobseekers'" ><button mat-flat-button class="border text-light  rounded-pill" style="background-color: var(--primary-color);" (click)=onchange(); ><mat-icon>{{iconEmployer? 'shield':'school'}}</mat-icon>{{employer ? 'Job Seeker' : 'Employer'  }}</button></a>
              </li>
              <li class="nav-item" *ngIf="isLoggedIn()">
                <a class="nav-link  " [routerLink]="employer ?   'employer' : 'jobseekers'" ><button mat-flat-button class="  rounded-pill" style="background-color:#eaeaea; color: rgb(255, 72, 0); " (click)=onchange(); >CREDIT: 0</button></a>
              </li>
              <li class="nav-item" *ngIf="isLoggedIn()">
                <a class="nav-link  " [routerLink]="employer ?   'employer' : 'jobseekers'" ><button mat-flat-button class="  rounded-pill" style="background-color:#eaeaea; color: rgb(255, 72, 0); " (click)=onchange(); >COUPON: 0 | 0</button></a>
              </li>


              <li class="nav-item" *ngIf="!isLoggedIn()">
                <a class="nav-link text-nowrap " routerLink="contact" ><button mat-flat-button (click)="openDialog()" class="border text-light  rounded-pill" style="background-color: var(--primary-color);" ><mat-icon class="fs-5 ">attach_money</mat-icon> Get Quotations</button></a>
              </li>

              <li class="nav-item" *ngIf="isLoggedIn()">
                <a class="nav-link text-nowrap " routerLink="contact" ><button mat-flat-button (click)="openDialog()" class="border text-light  rounded-pill" style="background-color: var(--primary-color);" ><mat-icon class="fs-5 ">add</mat-icon>Post Job Now</button></a>
              </li>
              <li class="nav-item">
                <a *ngIf="isLoggedIn()" (click)="logout()"  class="nav-link text-nowrap" routerLink=""><button class="text-nowrap" mat-flat-button class="py-4"><mat-icon>logout</mat-icon>Sign out</button>
                </a>
              </li>
            </div>
          </ul>
   <!-- right navigation bar  -->
        </div>
      </div>
    </div>
  </nav>

