<nav [ngClass]="{'sticky': isSticky}" class="navbar navbar-expand-sm bg-white border-bottom ">
<div class="container-xl">

    <!-- left-navigation bar-->
        <a class="navbar-brand  mt-auto " href="#"><img src="https://www.hrincjobs.com/assets/images/logo.png" width="120px" alt=""></a>
        <!-- <button (click)=toggle() class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs- target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i *ngIf="!expended" class="bi bi-list"></i>
        <i *ngIf="expended" class="bi bi-x"></i>
      </button> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse  " id="navbarSupportedContent">
    <div class="d-flex flex-wrap-reverse w-100">

      <ul class="navbar-nav mt-auto bg-white w-0">

          <li class="nav-item ">
            <a class="" routerLink="home" routerLinkActive [routerLinkActiveOptions]="{exact:true}"><button mat-flat-button >Home</button></a>
          </li>
          <mat-divider></mat-divider>
          <li class="nav-item">
            <a class=" text-nowrap" routerLink="about-us" ><button mat-flat-button routerLinkActive="active-link" color="">About Us</button></a>
          </li>
          <mat-divider></mat-divider>

          <li class="nav-item">
            <a class=" text-nowrap"  routerLink="contact-us" ><button mat-flat-button routerLinkActive="active-link">Contact Us</button></a>
          </li>
          <mat-divider></mat-divider>

          <li class="nav-item" style="display:flex; align-items:center; gap: 5px; cursor: pointer;">
              <img alt="" width="20px" src="{{ImgShow}}">
              <div style="display: flex;"  [matMenuTriggerFor]="menu" > {{country}} <mat-icon>arrow_drop_down</mat-icon></div>
          </li>


          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="cam()"><img [src]="ImgCam" width="20px" alt=""> Cambodia</button>
            <button mat-menu-item (click)="la()"><img  [src]="ImgLa" width="20px" alt=""> Lao</button>
            <button mat-menu-item (click)="mm()"><img  [src]="ImgMm" width="20px" alt=""> Myanmar</button>
            <button mat-menu-item (click)="asean()"><img  [src]="ImgAsean" width="20px" alt=""> Asean</button>
          </mat-menu>
      </ul>

    <!-- left-navigation bar -->

      <!-- right navigation bar  -->
          <ul class="navbar-nav  ms-auto bg-white">
            <div class="d-flex align-items-center">
              <li class="nav-item">
                <a class="nav-link text-nowrap" routerLink="menu"><button mat-flat-button [matMenuTriggerFor]="menu1" class="py-4"><mat-icon>person</mat-icon>Sign in</button>
                 <mat-menu #menu1="matMenu">
                    <button mat-menu-item>Job Seeker</button>
                    <button mat-menu-item>Employer</button>
                  </mat-menu>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link  " routerLink="home/employer" ><button mat-flat-button class="border text-light  rounded-pill" style="background-color: var(--primary-color);" (click)=onchange(); ><mat-icon>shield</mat-icon>{{employer}}</button></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-nowrap " routerLink="contact" ><button mat-flat-button (click)="openDialog()" class="border text-light  rounded-pill" style="background-color: var(--primary-color);" ><mat-icon class="fs-5 ">attach_money</mat-icon> Get Quotations</button></a>
              </li>
            </div>
          </ul>
   <!-- right navigation bar  -->
        </div>
      </div>
    </div>
  </nav>

