.hj-bg-about{
  background-image: url("https://www.hrincjobs.com/assets/images/about-us.png");
  width: 100%;
  height: 300px;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 40px;
  position: relative;
.hj-wrap{
  width: 500px;
  display: flex;
  align-items: center;
  padding: 20px;

    .hj-about-banner{

      h1{
        span{
          font-weight: 300;
        }
        color:white;

      }
      p{
        color: white;
        font-size: 18px;
      }
      button{
        margin:0 5px;
        color: white;
        background-color: transparent;
        border: 1px solid #fff;
      }
    }
  }
}


.hj-content{
  width: 100%;
  
  display: flex;
  justify-content: center;

  .bg-content{
    width: 100%;
    // background-repeat: no-repeat;
    background-size: 100vw 100vh;
    // background-repeat: repeat;
    background-position: center;
    background-image:url('https://www.hrincjobs.com/assets/images/hj-footer-bg.jpg');
    .hj-card-item{
      border:1px solid #ddd;
      height: 141px;
      width: 216px;
      border-radius: 10px;
      text-align:center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px 5px;
      margin: 10px;

      h1{
        font-size: 30px;
        color: var(--secondary-color);
      }
    }
  }
}


.hj-about-us-wrapper{

  .hj-card-title
  {
    h2{
      font-size: 18px;
    }
    .border-bottom{
      border-color: var(--primary-color) !important;
    }
  }

  .hj-item-list{
    margin: 20px 0;
    display: grid;
    grid-template-columns:300px 1fr  ;
    gap: 20px;

    .hj-image{

      img{
        width: 300px;
        border-radius: 10px;
      }
    }
    div{
      p{
        font-weight: lighter;
        font-size: 15px;
      }
      span{
        font-weight: lighter;
        font-size: 15px;
      }
    }
  }

}
@media screen and (max-width:768px)
{
  .hj-item-list{
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr !important;
    gap: 20px;
  }
  .hj-image img{
    width: 100% !important;

  }
}
@media screen and (max-width: 576px){

  .hj-card-item{
    width: 70% !important;
  }

  .hj-bg-about::before{
    content: "" !important;
    position: absolute!important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0,0,0,0.2);
    z-index: -1 !important;

  }
  .hj-bg-about{
    height: 350px;
    z-index: 1;
  .hj-wrap{
    width: 100% !important;
      .hj-about-banner{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        h1{
          span{
            font-weight: 300;
          }
          color:white;

        }
        p{
          color: white;
          font-size: 18px;
        }
        div{
          width: 100%;
          text-align: center;
          display: flex;
          flex-direction: column;
          gap:10px;
          align-items:center;
          justify-content: center;
          button{
            background-color: white !important;
            color: black !important;
            padding: 10px;
            margin: 10px 0;
            width: 80%;
            margin:0 auto ;
            color: white;
            background-color: transparent;
            border: 1px solid #fff;
          }
        }
      }
    }
  }
}
