
<div class="container-xl">
  <div class="content overflow-hidden mt-3 ">
    <div class="hj-bg-about">
      <div class="hj-wrap">
        <div class="hj-about-banner">
          <h1>About <span>HRINCJobs</span></h1>
          <p class="hj-dec">Look for your desired job opportunities, engage with the right talents for your vacancies through our premium portal.</p>
          <div>
            <button mat-fab extended ><mat-icon>expand_circle_down</mat-icon>Learn More</button>
            <button mat-fab extended ><mat-icon>call</mat-icon>Contact Us</button>
          </div>
        </div>
      </div>
    </div>
    <div class="hj-content">
      <div class="bg-content">
        <div class="py-3 row row-cols-auto justify-content-center">
          <div class="col  hj-card-item ">
              <h1>5.5K</h1>
              <p class="hj-label">
                Employers use HRINC Jobs online advertising solution
              </p>
          </div>
          <div class="col hj-card-item">
            <h1>102.2K</h1>
              <p class="hj-label">
                Vacancies announced on
                <a href="" style="font-size: 14px; color:var(--secondary-color); text-decoration: none;">www.hrincjobs.com</a>
              </p>
          </div>
          <div class="col  hj-card-item">
            <h1>102.2K</h1>
            <p class="hj-label">
              Website visited from anywhere at anytime
            </p>
          </div>
          <div class="col hj-card-item">
            <h1>38.3M</h1>
            <p class="hj-label">
              Jobs seen by job seekers
            </p>
          </div>
          <div class="col hj-card-item">
            <h1>1M</h1>
            <p class="hj-label">
              Jobs viewed by job seekers
            </p>
          </div>
        </div>
      </div>
    </div>
  <!-- who we are  -->
    <div class="hj-about-us-wrapper p-3">
      <div class="hj-card-title">
        <h2 class="px-3">Who we are?</h2>
        <div class="border-bottom"></div>
      </div>

      <div class="hj-item-list  justify-content-center">
        <div class="hj-image  "><img src="https://hrincjobs-pro.s3.amazonaws.com/media/public/filer_public/f3/c0/f3c0dd29-8fce-4082-b5c2-e73d27d188a4/who.jpg" alt=""></div>
        <div class=" ">
          <p> Welcome to HRINC Jobs, ASEAN’s Trusted Job Portal.</p>
          <p>We are a sister company of HRINC Group, a leader and trusted partnering service provider of human resource services in the ASEAN region.</p>
          <span>
             With over a decade of experience in the South East Asia Region and offices in
             Cambodia and Myanmar, HRINC is the provider of choices when it comes to HR implementation
             for many of the world’s most recognizable companies and organizations when doing business
             in the ASEAN region. With more than 100 qualified full-time professional staff, we service
             global corporations, companies, and regional conglomerates,
             SMEs and emerging entrepreneurs, governments, the donor and not-for-profit sector.
           </span>
        </div>
      </div>
  <!-- who we are  -->

  <!-- Why HRINC Jobs? -->
      <div class="hj-card-title">
        <h2 class="px-3">Who we are?</h2>
        <div class="border-bottom"></div>
      </div>

      <div class="hj-item-list justify-content-center">
        <div class="hj-image  "><img src="https://hrincjobs-pro.s3.amazonaws.com/media/public/filer_public/35/ca/35cab206-2fe2-49a1-ba87-07eab2770cab/why.jpg" class="" alt=""></div>
        <div class="">
          <p>
            The Regional Online Job Site where job seekers will enjoy browsing real and right fit job opportunities from their employers of choices around the globe!</p>
          <p>Not just a leading channel for job advertising and employer branding but also a digital driver that leads to a better-increased interaction with employers' products at a very competitive cost advantage!</p>
          <span>Better feature and user experience! The integration of expertise and modern technology into an efficient and easy use solution that ensures the effectiveness of job application processes, talents sourcing and employers branding, and costs effective that you would be hard to find the other else can support you better on hiring.</span>
        </div>
      </div>
  <!-- Why HRINC Jobs? -->
  </div>

  </div>
</div>

<app-footer></app-footer>
