<div class="container-xl">
  <div class="content">
    <!-- bg-banner  -->
    <div class="bg-banner">
      <h2>Search for your right fit, not just a job</h2>
      <div class="job-wrap">
        <app-job-search class="job-search"></app-job-search>
        <div class="bg-search "></div>
      </div>
    </div>
    <!-- bg-banner  -->
    <div class="hj-jr-content">
      <div>
        <h4>Create a job seeker account, it's Free!</h4>
        <p>You will enjoy a real online job hunting platform that helps to unlock your potential for growth and more opportunities.</p>
      </div>
      <div class="row  hj-grid">
        <div class="col-md-6 col-12 grid-left">
          <img src="https://www.hrincjobs.com/assets/images/Benefits_of_Jobseeker_Signup.png" alt="">
        </div>
        <div class="col-md-6 col-12 grid-right">
          <div class="col-12">
            <iframe class="video-iframe" width="100%" height="300px" src="https://www.youtube.com/embed/YaF9xn2tDwQ"
              title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen>
            </iframe>
          </div>
          <div class="col-12">
            <div class="row ">
              <div class="col-12 col-sm-4">
                <p class="hj-title">គន្លឹះ ឆ្លើយសំណួរ សម្ភាសន៍ការងារ (៤សំណួរ-ចម្លើយ)</p>
                <img class="hj-img" src="https://hrincjobs-pro.s3.amazonaws.com/media/public/filer_public/f5/fa/f5fa95c6-626b-4db2-8ee4-853e398c83ee/new_hrinc_blog_thumbnail__1200x628_1.png" alt="">
              </div>
              <div class="col-12 col-sm-4">
                <p class="hj-title">គន្លឹះ ១០ចំណុច ដើម្បីទទួលបានភាពជោគជ័យនៅកន្លែងធ្វើការ</p>
                <img class="hj-img" src="https://hrincjobs-pro.s3.amazonaws.com/media/public/filer_public/2d/42/2d42ca2a-8fa1-47fb-a24a-89d4dbe80d36/gnl_10cnnc_tmpddlbhbjgjynknlngdhvkr.png" alt="">
              </div>
              <div class="col-12 col-sm-4">
                <p class="hj-title">Personal Branding Tips on LinkedIn and other Social Media</p>
                <img class="hj-img" src="https://hrincjobs-pro.s3.amazonaws.com/media/public/filer_public/a2/87/a287931b-1848-4431-8b67-971659c2d716/hrinc_blog_thumbnail__1200x628_2.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center p-3">
        <button  class="btn-register">Register Job Seeker Account</button>
        <p class="title mt-4">If you have any questions/inquiries, please contact to our team via</p>
       <p> <a href="" class="nav-link" style="color:var(--secondary-color);">jobseeker.cam@hrincjobs.com</a></p>
        <p>+855 (23) 211 437 / (11) 992 190</p>
      </div>
    </div>
  </div>
      <div class="content">
        <!-- -------------------  get started ------------------- -->
        <div class="join-today my-4">
          <span class="fs-5 fs-thin join-today ">If you are ready for a more challenging job opportunity, you certainly will see on  <a class="nav-link ms-2" style="color: var(--secondary-color)" href="">  HRINC Jobs</a></span>
        </div>
        <!-- -------------------  get started ------------------- -->
      </div>
      <div class="content p-3 pt-4 mt-3 mx-auto">
        <app-job-category-parent></app-job-category-parent>
      </div>
      <div class="mb-4">
        <app-all-new></app-all-new>
      </div>


  </div>
  <app-footer></app-footer>
