*{
  font-family: 'khmer os siemreap';
}
// HRINC Jobs's free resources and tools template!
.hj-content-image{
  width: 300px;
  height: auto;

}
    .hj-content-image .bg-content{
      background-position: center;
      background-size:cover;
      background-repeat:no-repeat;
      width: 100%;
      border: 1px solid #ddd;
      height: 150px;

    }
// HRINC Jobs's free resources and tools template!
