<div class="content mt-4 ">
  <div class="hj-er-last-content "  >
    <p class="border-bottom p-3 px-4 fw-bold">Job Tools and Templates</p>
    <div  class="row row-cols-auto g-3   justify-content-center">
      <div class="col " *ngFor="let news of ShowNewsData">
        <div class="hj-content-image " >
          <div class="bg-content" style='background-image: url("{{news.hj_content_image}}");'></div>
          <p class="hj-title">{{news.hj_title}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
