
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class=" pop-up" [hidden]="displayNotification">
        <img src="assets/image/popup/promotions2022-sm.jpg" alt="">
        <div class="close"><button mat-flat-button  class="btn" (click)="closeNotification()">X</button></div>
    </div>
</body>
</html>
