
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="pop-up">
        <button class="close m-1" mat-mini-fab mat-dialog-close color="primary">X</button>
       <div class="popup">
           <a href="https://www.hrincjobs.com/employer/resource" routerLink="home/employer">
            <img src="https://hrincjobs-pro.s3.amazonaws.com/media/public/filer_public/81/86/8186c9ef-2e52-4e9b-8572-5e70afdb150b/ny23-promotion.jpg" mat-dialog-close alt="" >
           </a>
       </div>
    </div>

</body>
</html>
