
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="pop-up" >
        <button class="close m-1 text-white" mat-mini-fab mat-dialog-close color="primary">X</button>
       <div class="popup" mat-dialog-content >
           <a href="https://www.hrincjobs.com/employer/resource" routerLink="home/employer">
            <img src="assets/image/popup/Promotions new year-01.jpg" mat-dialog-close alt="" >
           </a>
       </div>

    </div>

</body>
</html>
