

<!-- Category-job  -->
      <mat-tab-group fitInkBarToContent mat-stretch-tabs="false" mat-align-tabs="center" >
            <!-- function  -->
          <mat-tab label="Function" class="">
            <div class="row overflow-hidden w-100 ">
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Clearance</a> <span class="hj-badge">{{hj.badge}}</span>
                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Managerial Positions </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Accounting / Finance </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Administrative / Support</a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Architect / Design </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Banking / Financial Service </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Banking / Financial Service </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Call Center / Customer Care </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Cleaning / Safeguard </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Community and Social... </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Education / Training </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Engineering </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Healthcare Services </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Hospitality / Tourism</a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Human Resources</a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Information Technology </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Legal / Compliance </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Logistic</a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Marketing</a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Media and Communication</a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Merchandising</a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Operational Management</a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Product Management</a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Program / Project Management </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Procurement</a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Quality Assurance </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Research</a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Sales</a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Stock / Warehousing</a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">

                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Others</a> <span class="hj-badge">{{hj.badge}}</span>
                    </div>
            </div>
            <!-- Industry  -->
          </mat-tab>

            <mat-tab label="Industry" >
              <div class="row overflow-hidden w-100 ">
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Accounting / Audit / Tax... </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Consulting Services</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Advertising / Public... </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Automotive / Heavy Equipment </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Banking / Financial Service </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Beverages / Liquor  </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Chemical / Petrochemical </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Construction </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Education  </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Electronics / Electrical...  </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Energy / Mining</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> FMCG / Consumer Goods</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Food and Beverages</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Garments and Textiles </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">General Business Services </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> General Insurance</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Government</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Hospitality and Tourism</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Human Resources Consultancy</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Information Technology</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Jewelery / Gems / Watches</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Life Insurance </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Logistics </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Manufacturing</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Non-profit </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Oil and Gas</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Pharmaceutical / Health Care</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Property Development </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Real Estate</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Retail </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Shopping Mall</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Software & IT Services  </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Telecommunication </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Trading / Distribution </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Transportation Services </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>

              </div>
            </mat-tab>

            <!-- location  -->
            <mat-tab label="Location">
              <div class="row overflow-hidden w-100 ">

                    <h6>Cambodia</h6>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                        <a href="" routLink="job-category" class="d-inline hj-clickable nav-link ">Siem Reap</a> <span class="hj-badge">{{hj.badge}}</span>
                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                        <a href="" routLink="job-category" class="d-inline hj-clickable nav-link ">Kampong Cham</a> <span class="hj-badge">{{hj.badge}}</span>
                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                        <a href="" routLink="job-category" class="d-inline hj-clickable nav-link ">Preah Sihanouk Ville</a> <span class="hj-badge">{{hj.badge}}</span>
                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routLink="job-category" class="d-inline hj-clickable nav-link ">Phnom Penh </a> <span class="hj-badge">{{hj.badge}}</span>
                    </div>

                  <div>
                    <h6>Loas</h6>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routLink="job-category" class="d-inline hj-clickable nav-link ">Vientiane</a> <span class="hj-badge">{{hj.badge}}</span>
                    </div>
                  </div>
                  <div>
                    <h6>Myanmar</h6>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routLink="job-category" class="d-inline hj-clickable nav-link ">Yango</a> <span class="hj-badge">{{hj.badge}}</span>
                    </div>
                  </div>
                  <div>
                    <h6>China</h6>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routLink="job-category" class="d-inline hj-clickable nav-link ">Hong Kong</a> <span class="hj-badge">{{hj.badge}}</span>
                    </div>
                  </div>




              </div>
            </mat-tab>

            <!-- salary  -->
            <mat-tab label="Salary">
              <div class="row overflow-hidden w-100 ">
                <div class="hj-list col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> &lt;$300</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">$300-$500 </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">$501-$999 </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">$1000-$2000 </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">>$2000 </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                  <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">
                    >$6000  </a> <span class="hj-badge">{{hj.badge}}</span>
                  </div>
                  <div class="hj-list col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">
                        > Negotiable </a> <span class="hj-badge">{{hj.badge}}</span>
                  </div>

              </div>
            </mat-tab>

            <!-- Period  -->
            <mat-tab label="Period">
              <div class="row overflow-hidden w-100 ">
                <div class="hj-list  col-sm-6 col-md-4 col-lg-4" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">This Week </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-4" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Last </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-4" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">This Month </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
              </div>
            </mat-tab>
      </mat-tab-group>
<!-- end Category-job  -->

