<div class="container-xl">
  <div class="content mt-3 ">

    <!--top banner  -->
    <div class="top-banner">
      <div class="hj-banner">
      </div>
      <div class="hj-content">
        <p class="header-3">Contacts and interests are directly bridged between job seekers and employers</p>
        <p>Contact our team and get your first job posted! <br>
        <a href="">sales@hrincjobs.com</a>  or <span>(+855) 23 211 437</span> </p>
        <div class="d-flex gap-1">
          <a class="nav-link " routerLink="contact" ><button mat-flat-button  class="border text-light  rounded-pill" style="background-color: var(--primary-color);" ><mat-icon class="fs-5 ">attach_money</mat-icon> Get Quotations</button></a>
          <a class="nav-link " routerLink="contact" ><button mat-flat-button  class="border text-light  rounded-pill" style="background-color: var(--primary-color);" ><mat-icon class="fs-5 ">attach_money</mat-icon> Learn more</button></a>
        </div>
      </div>
    </div>
<!--end top banner  -->



  <div class="row">
    <div class="col-md-8">
        <div class="section mx-3">
        <!-- Super saving Package  -->
        <mat-tab-group class=""  mat-stretch-tabs="false"  >
          <mat-tab label="Super Saving Package " class="" >
            <div class="row row-cols-auto justify-content-center mt-2 w-100">
              <app-package class="col p-0 mt-2">
                <div class="card-title1">90 Days Posting</div>
                <div class="card-subtitle">standard 1 month</div>
                <div class="price">$ 40</div>
              </app-package>
              <app-package class="col p-0 mt-2">
                <div class="card-title1">190 Days Posting</div>
                <div class="card-subtitle">standard 6 months</div>
                <div class="price">$ 120</div>
              </app-package>
              <app-package class="col p-0 mt-2">
                <div class="card-title1">190 Days Posting</div>
                <div class="card-subtitle">standard 6 months</div>
                <div class="price">$ 120</div>
              </app-package>
              <app-package class="col p-0 mt-2">
                <div class="card-title1">365 Days Posting</div>
                <div class="card-subtitle">standard 6 months</div>
                <div class="price">$ 120</div>
              </app-package>
              <app-package class="col p-0 mt-2">
                <div class="card-title1">720 Days Posting</div>
                <div class="card-subtitle">standard 6 months</div>
                <div class="price">$ 120</div>
              </app-package>
            </div>
          </mat-tab>
        <!--end Super saving Package  -->

        <!-- Employer Brnading Package  -->
          <mat-tab label="Employer Branding Package"> Content 2 </mat-tab>
        <!-- end Employer Brnading Package  -->
        </mat-tab-group>


      </div>
    </div>





      <!-- package Detail  -->
      <div class="col-md-4 ">
        <mat-tab-group>
          <mat-tab label="Package Detail " >
            <div class="pe-md-3">
            <div class="elementor-widget-container p-3 ">
              <div class="standard">
                <h6 class="py-2">Why Standard Jobs?</h6>
                <p>Jobs are listed on the homepage and under the premium job of the site in the “Vacancies List”, which is definitely the most exposure of job ads that ensure the highest visibility for site visitors.</p>
              </div>
            </div>

            <div class="elementor-widget-container p-3 ">
              <div class="wrapwidget">
                <div class="widget">
                  <!-- background-image  -->
                </div>
              </div>
              <span class="" style="font-size:10px; text-align: center;">1.1 Standard Job's Posting Location</span>
            </div>

            <div class="elementor-widget-container p-3 ">
              <div class="remark">
                <h6>Remarks</h6>
                <ul>
                  <li>All the jobs are posted individually, so jobseekers will find them easily.</li>
                  <li>They are classified separately, so they will reach your targeted jobseekers.
                  </li>
                  <li>They are listed under first come first serve logic regarding their posting date.</li>
                  <li>Re-advertising jobs are only allowed twice, and max 2 weeks from the closing date.</li>
                </ul>
              </div>
            </div>
          </div>

          </mat-tab>
          <mat-tab label="Package Detail"> Content 2 </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <!--end package Detail  -->

          <!-- step for souring  -->
          <div class="row mt-5">
            <div class="col-sm-8 col-12 ">
              <mat-tab-group class="ms-3" mat-stretch-tabs="false" mat-align-tabs="start">
                <mat-tab label="Step for sourcing and hiring!">

                    <div class="wrap-step  p-2 px-4 w-75 rounded-pill ms-5 m-3 text-white">
                      <div class="step">1</div>
                      <li class="ms-3 list-unstyled"> Create your employer account on HRINC Jobs for free</li>
                    </div>
                    <div class="wrap-step  p-2 px-4 w-75 rounded-pill ms-5 m-3 text-white">
                      <span class="step">2</span>
                      <li class="ms-3 list-unstyled"> Post an awesome job description within minutes</li>
                    </div>
                    <div class="wrap-step bg-primary p-2 px-4 w-75 rounded-pill ms-5 m-3 text-white">
                      <span class="step">3</span>
                      <li class="ms-3 list-unstyled"> Receive applications directly in your inbox</li>
                    </div>
                    <div class="wrap-step bg-primary p-2 px-4 w-75 rounded-pill ms-5 m-3 text-white">
                      <span class="step">4</span>
                      <li class="ms-3 list-unstyled">Showcase your branding and jobs on a premium employer profile</li>
                    </div>

                </mat-tab>
              </mat-tab-group>
            </div>
            <div class="col-sm-4 col-12">

                <div class="hj-card p-3">
                  <img src="https://www.hrincjobs.com/assets/images/4test/flat-devices-mockup.png" alt="">
                </div>

            </div>
          </div>

          <!--end step for souring  -->



          <!-- -------------------  get started ------------------- -->
          <div class="bg-getstarted my-4">
            <p class="fs-5">Reach your business goals with <span class="fw-bold">HRINC Jobs</span></p>
            <button mat-button color="">get started</button>
          </div>
          <!-- -------------------  get started ------------------- -->


                  <!-- company profile  -->
                    <div class="row mt-5">
                      <div class="col-sm-4 col-12">
                        <div class="hj-card p-3">
                          <img src="https://www.hrincjobs.com/assets/images/4test/notebook-mockup-on-desk.png" alt="">
                        </div>
                      </div>

                      <div class="col-sm-8 col-12 ">
                        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                          <mat-tab label="Step for sourcing and hiring!">
                          <p class="mt-3">Build up your brand to recruit the best. Get seen by millions of candidates
                            looking to make a move and just starting to research companies for their next opportunity.</p>
                          </mat-tab>
                        </mat-tab-group>
                      </div>

                    </div>

                    <!--company profile -->


                      <!-- Job listings -->
                      <div class="row mt-5">
                        <div class="col-sm-8 col-12 ">
                          <mat-tab-group class="ms-3" mat-stretch-tabs="false" mat-align-tabs="start">
                            <mat-tab label="Step for sourcing and hiring!">
                              <p class="mt-3">Build up your brand to recruit the best. Get seen by millions of candidates
                                looking to make a move and just starting to research companies for their next opportunity.
                              </p>
                            </mat-tab>
                          </mat-tab-group>
                        </div>
                        <div class="col-sm-4 col-12">
                          <div class="hj-card p-3">
                            <img src="https://www.hrincjobs.com/assets/images/4test/notebook-mockup-on-laptop.png" alt="">
                          </div>
                        </div>
                      </div>
                      <!--Job listings -->

                      <!-- company profile  -->
                      <div class="row mt-5">
                        <div class="col-sm-4 col-12">
                          <div class="hj-card p-3">
                            <img src="https://www.hrincjobs.com/assets/images/4test/track-mockup-on-imac.png" alt="">
                          </div>
                        </div>
                        <div class="col-sm-8 col-12 ">
                          <mat-tab-group  mat-stretch-tabs="false" mat-align-tabs="start">
                            <mat-tab label="Step for sourcing and hiring!">
                              <p class="mt-3">Don’t miss a beat in your recruitment program with a free, lightweight applicant tracking system designed for startups.
                              </p>
                            </mat-tab>
                          </mat-tab-group>
                        </div>
                      </div>

                      <!--company profile -->
  </div>
  <div class="content mt-4 p-3">
    <div class="hj-er-last-content ">
      <div class="row row-cols-3 gx-5  justify-content-center">
        <div class="col-sm-auto col-6 ">
          <div class="hj-content-image " >
            <div class="bg-content" style='background-image: url("https://hrincjobs-pro.s3.amazonaws.com/media/public/filer_public/db/cb/dbcbfaf5-d980-4544-9e76-008b8b97132c/accounting-interview-q.jpg");'></div>
          </div>
        </div>
        <div class="col-sm-auto col-6">
          <div class="hj-content-image" >
            <div class="bg-content"style="background-image: url('https://hrincjobs-pro.s3.amazonaws.com/media/public/filer_public/f7/f6/f7f6d23f-6e05-4211-b05a-feaabf437594/management-accountingtop-interview-q.jpg');">
            </div>
          </div>
        </div>
        <div class="col-sm-auto col-6">
          <div class="hj-content-image" >
            <div class="bg-content" style="background-image: url('https://hrincjobs-pro.s3.amazonaws.com/media/public/filer_public/96/49/96495962-1e7d-4ee5-ad4e-37aab56f3bcb/interview_questions_for_payroll_clerks.jpg');">
            </div>
          </div>
        </div>
        <div class="col-sm-auto col-6">
          <div class="hj-content-image" >
            <div class="bg-content img-fluid" style='background-image: url("https://hrincjobs-pro.s3.amazonaws.com/media/public/filer_public/43/f0/43f0f96d-5402-4c11-9b53-2e8165bb62a7/top-10-bank-interview-q.jpg");'>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

