<div class="container">
  <div class="content mt-3 ">

    <!--top banner  -->
    <div class="top-banner">
      <div class="hj-banner">
      </div>
      <div class="hj-content">
        <p class="header-3">Contacts and interests are directly bridged between job seekers and employers</p>
        <p>Contact our team and get your first job posted! <br>
        <a href="">sales@hrincjobs.com</a>  or <span>(+855) 23 211 437</span> </p>
        <div class="d-flex gap-1">
          <a class="nav-link " routerLink="contact" ><button mat-flat-button  class="border text-light  rounded-pill" style="background-color: var(--primary-color);" ><mat-icon class="fs-5 ">attach_money</mat-icon> Get Quotations</button></a>
          <a class="nav-link " routerLink="contact" ><button mat-flat-button  class="border text-light  rounded-pill" style="background-color: var(--primary-color);" ><mat-icon class="fs-5 ">attach_money</mat-icon> Learn more</button></a>
        </div>
      </div>
    </div>
 <!--end top banner  -->



  <div class="row">
    <div class="col-8">
        <div class="section mx-3">
        <!-- Super saving Package  -->
        <mat-tab-group>
          <mat-tab label="Super Saving Package ">
            <div class="row">
              <app-package class="col-4">
                <div class="card-title1">90 Days Posting</div>
                <div class="card-subtitle">standard 1 month</div>
                <div class="price">$ 40</div>
              </app-package>
              <app-package class="col-4">
                <div class="card-title1">190 Days Posting</div>
                <div class="card-subtitle">standard 6 months</div>
                <div class="price">$ 120</div>
              </app-package>
              <app-package class="col-4">
                <div class="card-title1">190 Days Posting</div>
                <div class="card-subtitle">standard 6 months</div>
                <div class="price">$ 120</div>
              </app-package>
            </div>
          </mat-tab>
        <!--end Super saving Package  -->

        <!-- Employer Brnading Package  -->
          <mat-tab label="Employer Branding Package"> Content 2 </mat-tab>
        <!-- end Employer Brnading Package  -->
        </mat-tab-group>

        <!-- step for souring  -->
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
          <mat-tab label="Step for sourcing and hiring!">

          </mat-tab>
        </mat-tab-group>
        <!--end step for souring  -->
      </div>
    </div>





      <!-- package Detail  -->
      <div class="col-4 ">
        <mat-tab-group>
          <mat-tab label="Package Detail  " >
            <div class="elementor-widget-container p-3 ">
              <div class="standard">
                <h6 class="py-2">Why Standard Jobs?</h6>
                <p>Jobs are listed on the homepage and under the premium job of the site in the “Vacancies List”, which is definitely the most exposure of job ads that ensure the highest visibility for site visitors.</p>
              </div>
            </div>

            <div class="elementor-widget-container p-3 ">
              <div class="wrapwidget">
                <div class="widget">
                  <!-- background-image  -->
                </div>
              </div>
              <span class="" style="font-size:10px; text-align: center;">1.1 Standard Job's Posting Location</span>
            </div>

            <div class="elementor-widget-container p-3 ">
              <div class="remark">
                <h6>Remarks</h6>
                <ul>
                  <li>All the jobs are posted individually, so jobseekers will find them easily.</li>
                  <li>They are classified separately, so they will reach your targeted jobseekers.
                  </li>
                  <li>They are listed under first come first serve logic regarding their posting date.</li>
                  <li>Re-advertising jobs are only allowed twice, and max 2 weeks from the closing date.</li>
                </ul>
              </div>
            </div>

            <div class="elementor-widget-container p-3 ">
              <div class="hj-card">
                <img src="https://www.hrincjobs.com/assets/images/4test/flat-devices-mockup.png" alt="">
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Package Detail"> Content 2 </mat-tab>
        </mat-tab-group>
      </div>
       <!--end package Detail  -->
    </div>
  </div>
</div>

