@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

.swiper{
  width: 100%;

}
.swiper-slide img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  // object-position: center;
}

  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .hj-img .hj-hover-img{
    position: relative;
    z-index: 1;
    top: 0;
  }
  .hj-img .hj-hover-img:hover{
    cursor: pointer;
    z-index: 1;
    transition: all .2s ease-out;
    top: -4px;
    box-shadow: 0px 4px 8px #ddd;
    background-color: #fff;
  }





  // Related Jobs
  .job-title{
    padding: 0;
  }

  .card-subtitle{
    font-family: "Gilroy" Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    font-weight: 100;
  }
  .card-text{
    font-size:12px;
    font-family: "Gilroy" Helvetica, Arial, sans-serif;
  }
  .job-list{
    margin-right:0px;
    position: relative;
    top: 0;
  }
  .job-list .btn-job{
    position: absolute;
    top: 20px;
    right: -155px
  }
  .job-list:hover .btn-job{

    position: absolute;
    top: 20px;
    right: 35px;
    transition:.1s ease-out;
  }
  .img-job{
  width: 100%;
  object-position: center;
  }

  .job-list .special-job{
    background-color: red;
    position: absolute;
    bottom: 1px;
    right: 1px;
    border-radius: 999px 10px 999px 10px;
    padding: 3px 0 3px 0;
    width: 70px;
    text-align:center;
    color: white;
    background-color: #e16d48;
    font-size: 10px;
  }

  .border-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:7px;
    height: 65px;
    width: 65px;
    border:1px solid #ddd;
    padding: 3px;
  }

// effect border

          .gradient-border {
            --border-width: 3px;

            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 20px;
            font-family: Lato, sans-serif;
            font-size: 2.5rem;
            text-transform: uppercase;
            color: white;
            background: #222;
            border-radius: var(--border-width);

            &::after {
              position: absolute;
              content: "";
              top: calc(-1 * var(--border-width));
              left: calc(-1 * var(--border-width));
              z-index: -1;
              width: calc(100% + var(--border-width) * 2);
              height: calc(100% + var(--border-width) * 2);
              background: linear-gradient(
                60deg,
                hsl(224, 85%, 66%),
                hsl(269, 85%, 66%),
                hsl(314, 85%, 66%),
                hsl(359, 85%, 66%),
                hsl(44, 85%, 66%),
                hsl(89, 85%, 66%),
                hsl(134, 85%, 66%),
                hsl(179, 85%, 66%)
              );
              background-size: 300% 300%;
              background-position: 0 50%;
              border-radius: calc(2 * var(--border-width));
              animation: moveGradient 4s alternate infinite;
            }
          }

          @keyframes moveGradient {
            50% {
              background-position: 100% 50%;
            }
          }


// end effect border



  //sticky
// .sticky{
//   position: sticky;
//   top: 0;
// }

//jobs input



//Employers Who are Hiring
.employers{
position: sticky;
top: 10px;
}

.job-item{
  background-color: #FDEFEB;
}
mat-checkbox{
  padding: 0 !important;
  margin: 0 !important;
  height: 0;
}

/* Fade animation */
.content {
  position: relative;
}
.content.ng-enter,
.content.ng-leave-to {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.content.ng-enter-active,
.content.ng-leave-active {
  opacity: 1;
}
