

<div class="container-xxl">
<!-- slide  -->
<swiper
[spaceBetween]="100"
[centeredSlides]="true"
[autoplay]="{
  delay: 3000,
  disableOnInteraction: false
}"
[loopFillGroupWithBlank]="false"
[loop]="true"
[pagination]="{
  dynamicBullets: true
}"

[navigation]="true"
class="mySwiper"
  >
  <ng-template swiperSlide><img src="assets/image/slide/fortune.jpg" height="400px" alt="" ></ng-template>
  <ng-template swiperSlide><img src="assets/image/slide//hrinc.jpg" height="400px" alt=""></ng-template>
  <ng-template swiperSlide><img src="assets/image/slide/hrinctac.png" height="400px" alt=""></ng-template>
  <ng-template swiperSlide><img src="assets/image/slide/investing.jpg" height="400px" alt=""></ng-template>
  <ng-template swiperSlide><img src="assets/image/slide/trust.jpg" height="400px" alt=""></ng-template>

</swiper>
<!--end slide  -->

<!-- Job Search Layout  -->
<div class="content p-3 pt-4 mt-3">
  <div class="row ">
    <!-- Keywords, job titles, company name -->
    <div class="col-lg-4 col-md-6 py-3">
      <mat-form-field appearance="outline"class="w-100" >
        <mat-label>Keywords, job titles, company name</mat-label>
        <input matInput placeholder="Job Title, Company">
      </mat-form-field>
    </div>

    <!-- job Function  -->
    <div class="col-lg-3 col-md-6 py-3">
      <mat-form-field appearance="outline"class="w-100" >
        <mat-label>Job Function</mat-label>
        <mat-select>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Search">
          </mat-form-field>
          <mat-option value="one">Agriculture & Forestry</mat-option>
          <mat-option value="two">Call for Proposal / Bidding</mat-option>
          <mat-option value="three">Clearance</mat-option>
          <mat-option value="four">Operations Compliance</mat-option>
          <mat-option value="four">Vendor Management</mat-option>
          <mat-option value="four">Managerial Positions</mat-option>
          <mat-option value="four">Accounting / Finance</mat-option>
          <mat-option value="four">Administrative / Support</mat-option>
          <mat-option value="four">Architect / Design</mat-option>
          <mat-option value="four">Banking / Financial Service</mat-option>
          <mat-option value="four">Business Development</mat-option>
          <mat-option value="four">Call Center / Customer Care</mat-option>
          <mat-option value="four">Cleaning / Safeguard</mat-option>
          <mat-option value="four">Community and Social Services</mat-option>
          <mat-option value="four">Consulting / Freelancing</mat-option>
          <mat-option value="four">Driving / Delivery</mat-option>
          <mat-option value="four">Education / Training</mat-option>
          <mat-option value="four">Engineering</mat-option>
          <mat-option value="four">Food and beverage</mat-option>
          <mat-option value="four">Healthcar services</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Job's location -->
    <div class="col-lg-3 col-md-6 py-3">
      <mat-form-field appearance="outline"class="w-100 p-0" >
        <mat-label>Job's Location</mat-label>
        <mat-select>
          <input matInput placeholder="Search">
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Search Jobs  -->
    <div class="col-lg-2 col-md-6  py-3  d-grid align-items-center">
      <a class="nav-link " ><button mat-flat-button class="border text-light py-2 rounded-pill w-100" style="background-color: var(--primary-color);" ><mat-icon>search</mat-icon>Search Jobs</button></a>
    </div>
  </div>
<!-- Category-job  -->
      <mat-tab-group fitInkBarToContent mat-stretch-tabs="false" mat-align-tabs="center" >
            <!-- function  -->
          <mat-tab label="Function" class="">
            <div class="row overflow-hidden w-100 ">
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Clearance</a> <span class="hj-badge">{{hj.badge}}</span>
                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Managerial Positions </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Accounting / Finance </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Administrative / Support</a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Architect / Design </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Banking / Financial Service </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Banking / Financial Service </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Call Center / Customer Care </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Cleaning / Safeguard </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Community and Social... </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Education / Training </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Engineering </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Healthcare Services </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Hospitality / Tourism</a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Human Resources</a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Information Technology </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Legal / Compliance </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Logistic</a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Marketing</a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Media and Communication</a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Merchandising</a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Operational Management</a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Product Management</a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Program / Project Management </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Procurement</a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Quality Assurance </a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Research</a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Sales</a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Stock / Warehousing</a> <span class="hj-badge">{{hj.badge}}</span>

                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">

                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Others</a> <span class="hj-badge">{{hj.badge}}</span>
                    </div>
            </div>
            <!-- Industry  -->
          </mat-tab>

            <mat-tab label="Industry" >
              <div class="row overflow-hidden w-100 ">
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Accounting / Audit / Tax... </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Consulting Services</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Advertising / Public... </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Automotive / Heavy Equipment </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Banking / Financial Service </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Beverages / Liquor  </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Chemical / Petrochemical </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Construction </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Education  </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Electronics / Electrical...  </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Energy / Mining</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> FMCG / Consumer Goods</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Food and Beverages</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Garments and Textiles </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">General Business Services </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> General Insurance</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Government</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Hospitality and Tourism</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Human Resources Consultancy</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Information Technology</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Jewelery / Gems / Watches</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Life Insurance </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Logistics </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Manufacturing</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Non-profit </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Oil and Gas</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Pharmaceutical / Health Care</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Property Development </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Real Estate</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Retail </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> Shopping Mall</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Software & IT Services  </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Telecommunication </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Trading / Distribution </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Transportation Services </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>

              </div>
            </mat-tab>

            <!-- location  -->
            <mat-tab label="Location">
              <div class="row overflow-hidden w-100 ">

                    <h6>Cambodia</h6>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                        <a href="" routLink="job-category" class="d-inline hj-clickable nav-link ">Siem Reap</a> <span class="hj-badge">{{hj.badge}}</span>
                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                        <a href="" routLink="job-category" class="d-inline hj-clickable nav-link ">Kampong Cham</a> <span class="hj-badge">{{hj.badge}}</span>
                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                        <a href="" routLink="job-category" class="d-inline hj-clickable nav-link ">Preah Sihanouk Ville</a> <span class="hj-badge">{{hj.badge}}</span>
                    </div>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routLink="job-category" class="d-inline hj-clickable nav-link ">Phnom Penh </a> <span class="hj-badge">{{hj.badge}}</span>
                    </div>

                  <div>
                    <h6>Loas</h6>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routLink="job-category" class="d-inline hj-clickable nav-link ">Vientiane</a> <span class="hj-badge">{{hj.badge}}</span>
                    </div>
                  </div>
                  <div>
                    <h6>Myanmar</h6>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routLink="job-category" class="d-inline hj-clickable nav-link ">Yango</a> <span class="hj-badge">{{hj.badge}}</span>
                    </div>
                  </div>
                  <div>
                    <h6>China</h6>
                    <div class="hj-list  col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routLink="job-category" class="d-inline hj-clickable nav-link ">Hong Kong</a> <span class="hj-badge">{{hj.badge}}</span>
                    </div>
                  </div>




              </div>
            </mat-tab>

            <!-- salary  -->
            <mat-tab label="Salary">
              <div class="row overflow-hidden w-100 ">
                <div class="hj-list col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link "> &lt;$300</a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">$300-$500 </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">$501-$999 </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">$1000-$2000 </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">>$2000 </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                  <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">
                    >$6000  </a> <span class="hj-badge">{{hj.badge}}</span>
                  </div>


                  <div class="hj-list col-sm-6 col-md-4 col-lg-3" *ngFor="let hj of jobData">
                      <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">
                        > Negotiable </a> <span class="hj-badge">{{hj.badge}}</span>
                  </div>

              </div>
            </mat-tab>

            <!-- Period  -->
            <mat-tab label="Period">
              <div class="row overflow-hidden w-100 ">
                <div class="hj-list  col-sm-6 col-md-4 col-lg-4" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">This Week </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-4" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">Last </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
                <div class="hj-list  col-sm-6 col-md-4 col-lg-4" *ngFor="let hj of jobData">
                    <a href="" routerLink="job-category" class="d-inline hj-clickable nav-link ">This Month </a> <span class="hj-badge">{{hj.badge}}</span>
                </div>
              </div>
            </mat-tab>
      </mat-tab-group>
<!-- end Category-job  -->
</div>
<!--end Job Search Layout  -->

<!-- quote  -->
  <div class="content mx-0 my-4 row py-3 px-3" *ngFor="let hj_quote of quote">
      <span class="col-xl-10 col-lg-9 col-md-8 col-sm-7  fs-5 text-center align-self-center ">"{{hj_quote.quote_letter}}" <span class="fw-bold">-{{hj_quote.quote_name}}</span> </span>
      <button mat-flat-button class="quote col-xl-2 col-lg-3 gy-3   gy-sm-0 col-md-4 col-sm-5 border  text-light  rounded-pill " style="background-color: var(--primary-color);" ><mat-icon>search</mat-icon>Get Quotations</button>
  </div>
<!--end quote  -->


  <!-- Premium Employers  -->
  <div class="content p-0 py-3 d-none d-md-block">
    <div class="row px-3">
      <p class="col-12 px-3">Premium Employers</p>
    </div>
      <mat-divider class="mb-4"></mat-divider>

      <swiper
      [slidesPerView]="5"
      [spaceBetween]="0"
      [slidesPerGroup]="5"
      [loop]="true"
      [loopFillGroupWithBlank]="false"
      [pagination]="{
        dynamicBullets: true
      }"
      [navigation]="true"
      class="mySwiper">
      <ng-template swiperSlide><a href="https://www.hrincjobs.com/company-profile/5997"><img src="https://ad.hrincjob.com/www/images/2bed9162e2a880bb7af4de26ed14f09b.png" width="100%" alt=""></a> </ng-template>
      <ng-template swiperSlide><a href="https://www.hrincjobs.com/company-profile/5137"><img src="https://ad.hrincjob.com/www/images/fbec46197c5308f913fa7eda2c199d2a.png" width="100%" alt=""> </a> </ng-template>
      <ng-template swiperSlide><a href="https://www.hrincjobs.com/company-profile/165"><img src="https://ad.hrincjob.com/www/images/45517f55127773f501f2adf27e91ba8a.jpg" width="100%" alt=""></a></ng-template>
      <ng-template swiperSlide><a href="https://www.hrincjobs.com/company-profile/6047"><img src="https://ad.hrincjob.com/www/images/4bf25385a644b221bcdc158102aad404.png" width="100%" alt=""></a></ng-template>
      <ng-template swiperSlide><a href="https://www.hrincjobs.com/company-profile/6150"><img src="https://ad.hrincjob.com/www/images/1d3f388dc51afee7ce6e42f771d78b55.png" width="100%" alt=""></a></ng-template>
    </swiper>

  </div>
  <!-- End Premium Employers  -->


<div class=" row  my-4">
    <!-- Employers Who are Hiring -->
    <div class="col-md-5 d-none d-md-block ">
      <div class="content employers">
        <p class="px-4 pt-3">Employers Who are Hiring</p>
        <mat-divider></mat-divider>
        <div class="row hj-img p-3">
          <div class="col-3 hj-hover-img mt-4"  *ngFor="let hj2 of showAllData">
            <img  src="{{hj2.logo_profile}}" width="100%" alt="">
          </div>
        </div>
      </div>
    </div>
    <!--END Employers Who are Hiring  -->


    <!-- Vacancies List -->
    <div class="col-md-7 col-12">
      <div class="content">
        <div class="row mt-3">
          <div class="col">
            <p class="px-4">Vacancies List</p>
          </div>
          <div class="col ">
            <p class="px-4 text-end">Vacancies List <mat-slide-toggle></mat-slide-toggle></p>
          </div>
        </div>
        <mat-divider></mat-divider>
                <div class="row m-0 job-item">
                  <div class="col-xl-6 col-12 p-0 job-list overflow-hidden" *ngFor="let hj2 of showAllData">
                    <div class=" d-flex py-2 border-end border-bottom px-0">
                      <div class="d-flex job-title flex-grow-1">
                        <div class=" border-img ms-3 m-2 bg-white" >
                          <img src="{{hj2.logo_profile}}" class=" img-job" alt="">
                        </div>
                        <div class="mx-2">
                          <a class="nav-link" href="" routerLink="job-detail"><h5 class="card-title overflow-hidden text-truncate" style="max-width: 170px" matTooltipClass="example-tooltip"  matTooltipPosition="above" matTooltip="{{hj2.job_name}}">{{hj2.job_name}} </h5></a>
                            <h6 class="card-subtitle overflow-hidden text-truncate "matTooltipClass="example-tooltip" style="width: 180px ;" matTooltipPosition="below" matTooltip="Click to view {{hj2.job_profile}} profile">{{hj2.job_profile}} </h6>
                          <div class="card-text navbar">
                                <a href="" class="nav-link"><i class="bi bi-calendar"></i> {{hj2.date}}</a>&nbsp;
                                <a href="" class="nav-link"> <span class="text-lg-truncate" style="max-width: 80%;"><i class="bi bi-currency-dollar"> </i> Login to see salary</span></a>
                          </div>
                        </div>
                      </div>
                          <li class="nav-item navbar-nav btn-job">
                            <a class="nav-link " routerLink="contact" ><button matTooltipClass="example-tooltip"  matTooltip="Apply directly to Employers by uploading your applications" mat-flat-button class="border text-light py-2 rounded-pill" style="background-color: var(--primary-color); font-size:12px;" >Apply Directly</button></a>
                          </li>
                      <div class="special-job">
                        <span>Premium</span>
                      </div>

                      <!-- menu  -->
                      <button [matMenuTriggerFor]="menu" mat-icon-button class="">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                          <mat-icon>thumb_up</mat-icon>
                          <span>Like</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>save</mat-icon>
                          <span>Save</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>check</mat-icon>
                          <span>Apply now</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>check</mat-icon>
                          <span>Apply Directly</span>
                        </button>
                        <mat-menu #animals="matMenu">
                          <button mat-menu-item [matMenuTriggerFor]="invertebrates">
                            Share
                          </button>
                          <mat-menu #invertebrates="matMenu">
                            <button mat-menu-item><mat-icon>facebook</mat-icon> Facebook</button>
                            <button mat-menu-item><mat-icon>facebook</mat-icon> Facebook</button>
                          </mat-menu>
                        </mat-menu>
                        <button mat-menu-item>
                          <mat-icon>link</mat-icon>
                          <span>Copy Link</span>
                        </button>
                      </mat-menu>
                        <!--end menu  -->
                    </div>
                  </div>
                </div>


  <!-- all Vacancies  -->
              <div class="d-grid">
                <button routerLink="all-jobs" mat-flat-button color="primary" class=" text-white rounded-pill m-3 my-4">All Vacancies</button>
              </div>
            </div>
          </div>
    <!-- end Vacancies List -->
        </div>
      </div>

<app-footer></app-footer>
