<div class="container-lg">
    <div class="row">
      <div class="col-lg-5 col-12">
        <div class="content mt-3">
          <p class="p-3 fw-bold">Corporate Partners</p>
        </div>
      </div>
      <div class="col-lg-7 col-12">
        <div class="content mt-3">

          <mat-list>
            <mat-list-item class="p-2 px-3 fw-bold">Sign In</mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>


          <div class="p-3 px-5 ">
            <h4 class="text-center">Sign In with your Job Seeker Account</h4>
            <div class="d-flex justify-content-around gap-5 px-5 py-3">
              <button mat-fab extended class="bg-primary px-5 w-50">
                <mat-icon ><img class="mb-3 w-100" src="https://www.hrincjobs.com/assets/images/facebook-w.svg" alt=""></mat-icon>
                with facebook
              </button>
              <button mat-fab extended class="bg-white text-secondary px-5 w-50">
                <mat-icon><img  class="mb-3 w-100" src="https://www.hrincjobs.com/assets/images/google.svg" alt=""></mat-icon>
                with Google
              </button>
            </div>
            <span class="or ">Or</span>
            <mat-radio-group>
              <mat-radio-button color="primary" value="1">Email</mat-radio-button>
              <mat-radio-button color="primary" value="1">Phone</mat-radio-button>
            </mat-radio-group>

            <!-- Email -->
            <div class="example-container mt-3">
              <mat-form-field style="background-color: transparent; " class="mat-form-example" appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>
            <!-- Email -->
            <!-- Password -->
            <div class="example-container mt-3">
              <mat-form-field class="mat-form-example" appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>


            <!-- Password -->

          </div>
        </div>
      </div>
    </div>
  </div>

